/* put your styles in this file */
.janusslide .reveal {
  background-image: url(/assets/janus_bg_lighter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
}
